PYTHONPATH=~/dev/ai/ragify/ragify-rag

# Server Configuration (gRPC server)
RAGIFY_GRPC_HOST=0.0.0.0
RAGIFY_GRPC_PORT=50051
RAGIFY_GRPC_ENDPOINT=localhost:50051

# VectorDB Config
VECTORDB_URL=http://localhost:6333/
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334

# Classification
CLASSIFICATION_URL=
CLASSIFICATION_MODEL=
CLASSIFICATION_API_KEY=

# LLM
LLM_URL=
LLM_MODEL=
LLM_API_KEY=

# Web Search
TAVILY_API_KEY=
